body
{
	border: medium solid black;
}

.phone
{
	width: 176px;
	height: 208px;
	vertical-align: 100%;
}

p
{
	font-size: 1.2em;
}

a
{
	/* text-decoration: none;
	color: black; */
	font-size: 1.2em;
}
